*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: #1f2b41;
    color: #ffffff;
    font-size: 16px;
    font-family:  ' Roboto';
}

.container{
    width: 90%;
    margin: auto;
}
